<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <!--<link rel="stylesheet" href="css/app.css">-->
    <link rel="stylesheet" type="text/css" href="/styles/princip.css">
  </head>
  <body>
    <!--Top-Bar-->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li id="bar-title" class="menu-text"><strong>PREGUNTADOS</strong></li>
          <li class="li"><a href="/principal"> </a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li class="li"><img style="width: 25px;" src="/styles/user1.png"></img></li>
          <li class="li"><a class="a" href="#"> </a></li>
          <li class="li"> <%= users.username %></li>
          <li class="li"><a class="a" href="#"> </a></li>
          <li class="li"><a class="a" href="#"> </a></li>
          <li class="li"><a class="a" href="#"> </a></li>
          <li class="li"><a class="a" href="/logout"><img style="width: 25px;" src="/styles/exit1.png"></img></a></li>
        </ul>
      </div>
    </div>
    <br/><br/>
    <!--User Profile-->
    <div class="row" style="background-color: moccasin;">
      <div class="small-6 columns">
        <br/>
        <div style="background-color: moccasin; padding:2%;">
          <center>
            <div style="width: 98%; background-color:crimson;">
              <img style="width:27%;" src="/styles/user1.png"></img>
            </div>
        </center>
        </div>
        <br/>
      </div>
      <div class="small-6 columns">
        <div style="background-color: moccasin; padding:2%;">
          <br/>
          <center>
            <table>
              <tr>
                <td style="background-color: crimson; color: white;">ID</td>
                <td><%= users.id %></td>
              </tr>
              <tr>
                <td style="background-color: crimson; color: white;">Username</td>
                <td><%= users.username %></td>
              </tr>
              <tr>
                <td style="background-color: crimson; color: white;">Email</td>
                <td><%= users.email %></td>
              </tr>
            </table>
        </center>
        </div>
      </div>
    </div>
    <br/><br/><br/>
    <!--Game Options-->
    <div style="background-color: green;">
      <center>
        <h2 style="color: white;">GAME OPTIONS</h2>
      </center>
    </div>
    <br/><br/>
    <div style="background-color: crimson; font-size: 15px; padding:1%; color: white; margin-left: 3%; margin-right: 80%">
      <center>
        <strong>NEW GAME</strong>
      </center>
    </div>
    <br/>
    <div class="row">
      <div class="medium-6 columns">
        <div class="card">
          <center>
            <div class="card-section">
              <br/><br/><br/>
              <img  style="width:70%;" src="/styles/vsplayer.jpg">
              <br/><br/><br/>
            </div>
            <div style="background-color: crimson;" class="card-section">
              <a href="/gamevsplayer">VS Player</a>
            </div>
          </center>
        </div>
      </div>
      <div class="medium-6 columns">
        <div class="card">
          <center>
            <div class="card-section">
              <img  style="width:68%;" src="/styles/vscompu.jpg">
            </div>
            <div style="background-color: crimson;" class="card-section">
              <a href="/gamevscompu">VS Computer</a>
            </div>
          </center>
        </div>
      </div>
    </div>
    <br/><br/><br/><br/>
    <div style="background-color: crimson; font-size: 15px; padding:1%; color: white; margin-left: 3%; margin-right: 80%">
      <center>
        <strong>PREVIEW GAMES</strong>
      </center>
    </div>
    <br/>
    <div class="row" style="background-color: moccasin; padding: 2%;">
      <%= users.username %> vs Players
      <table>
        <tr>
          <td style="background-color: crimson; color: white;">On-going Duels</td>
          <td>
            <% if (on_goingDuels[0] != 'empty') { %>
              <% for (var words of on_goingDuels) {%>
                <%= words %>
              <% }%>
            <% } else { %>
              <%= users.username %> is currently not playing with other users
            <% } %>
          </td>
        </tr>
        <tr>
          <td style="background-color: crimson; color: white;">Finished Duels</td>
          <td>
            <% if (finishedDuels[0] != 'empty') { %>
              <% for (var words of finishedDuels) {%>
                <%= words %>
              <% } %>
            <% } else { %>
              <%= users.username %> hasnt finished any duel againts other players
            <% } %>
          </td>
        </tr>
      </table>
      <%= users.username %> vs computer
      <table>
        <tr>
          <td style="background-color: crimson; color: white;">On-going Duels</td>
          <td>
            <% if (on_goingPCDuels[0] != 'empty') { %>
              <% for (var words of on_goingPCDuels) {%>
                <%= words %>
              <% }%>
            <% } else { %>
              <%= users.username %> is currently not playing against a computer
            <% } %>
          </td>
        </tr>
        <tr>
          <td style="background-color: crimson; color: white;">Finished Duels</td>
          <td>
            <% if (finishedPCDuels[0] != 'empty') { %>
              <% for (var words of finishedPCDuels) {%>
                <%= words %>
              <% }%>
            <% } else { %>
              <%= users.username %> hasnt finished any duel againts a computer
            <% } %>
          </td>
        </tr>
      </table>
    </div>
    <br/><br/><br/>
  </body>
</html>
